<div class="review-container">
  <h1 id="next-fest-february">February - Next Fest</h1>
  <p>
    What is a demo but a miserable pile of ideas? A dream given shape by a
    thousand lines of Incomprehensible code. What else could it be but magic? A
    glimmer of the arcane in this hopeless world.<br />With the next fest taking
    place we will take a little look around the new stuff as usual. Poke our
    nose into the chambers of wizards weaving spells. Each game gets a few
    minutes to impress and if it fails to do so, then tough luck. Get a better
    spellbook.<br />How many games in total? Yes. All of them. You want a
    number? 69 Demos. So you better grab a little drink and get comfy.
  </p>
  <p>
    Tl;dr at the bottom as always, but try to read it. You can do it. Who knows,
    maybe you get enchanted too?
  </p>
  <h2 id="demos">Demos</h2>
  <p>
    Starting of strong with <strong>Border Pinoeer</strong>. This game is
    actually not even part of Next Fest, but I recently bought it and like it a
    lot. This is a base building tower defense. Play cards to build your base in
    a grid like map, buildings influence each other to create more resources or
    to get buffed and deal more damage and the like. You can create towers,
    units, use spells, build walls. Lot of fun if you like base building and
    tower defense. Definitivly a recommend from me.
  </p>
  <p>
    The real next fest we are breaking in with <strong>Mecha BREAK</strong>.
    Robot PVP. Last time I missed this demo, so looking forward to getting
    another try this time. Starts off with a classic five minute shader
    compilation, no comment on that. It has a detailed character creator for
    some reason? I thought this was robots— oh my god. I get it. It&#39;s Robots
    and Gooning. Decent gameplay, unfortunately it looks like the typical
    eastern predatory monetization systems are in place. Battlepass in a demo,
    come on. At least that Robot has really nice curves. Yeah the robot... My
    god.
  </p>
  <p>
    With my new PC my electric bill will be <strong>electrobillion</strong>.
    Game has no settings, no audio. There isn&#39;t even a menu. It drops you
    right into the silent suffering that is this power grid management
    simulator. Yes, a game about building an power grid. Place substations,
    windmills, solar and power plants to match the growing cities power
    consumption. City builder but a bit of a puzzler to always match power
    consumption to prevent blackouts. Basically the aspect everybody hates in
    good games like Factorio. No thanks. Game doesn&#39;t even have an exit
    button.
  </p>
  <p>
    <strong>Heroes For Hire</strong> in this economy? Unreal. Game starts and
    there are two language options. English and CleanEnglish. I like it unclean
    so I select option one, but as I understand it only changes the font to be
    readable so tough luck for me. The game then gives you the option for a
    settings wizard. A wizard, to setup your settings, in a game. Do they have
    such little faith in todays gamers? Then again look at certain streamers.
    Actually a good idea, I want to change my mind. I&#39;m creating my own
    adventurers guild and off I go to... a Pc screen. This is a game about
    managing your guild from a Pc screen. Lots of windows, lots of text, lots of
    tutorials to read. Manager type game, no thanks I don&#39;t like it.
  </p>
  <p>
    Last time we had Rusty&#39;s Retirement and that one seemed to create a
    whole bunch of clones. Games that run on the bottom of the screen while you
    do other things. First of one of these clones is
    <strong>Tiny Terraces</strong>. Tiny dudes harvesting stuff, you get money,
    create more guys, build a big farm at the bottom of your screen. Seems neat
    and relaxing. Slow but that&#39;s the point, you are supposed to do other
    stuff on the side. Like actual work. Wait, why do games like these exist
    again?
  </p>
  <p>
    <strong>Little Library</strong> is a game about managing a library during
    COVID lockdowns. Yes really. At least that&#39;s what it said in the opening
    dialogue with the mayor. Getting stardew valley vibes, except this is a
    really rough game. You move with arrow keys, WASD does not work. Let&#39;s
    see the library— No you can&#39;t. You have to visit all the villagers
    first. Okay then, let me enter this first house. A cutscene starts where two
    villagers walk to the my character standing at the entrance door. It takes
    fifteen seconds. I&#39;m out, sorry little dev bro, but I got better games
    to test than your first time game.
  </p>
  <p>
    <strong>The First Berserker: Khazan</strong>, you probably heard about this
    one already. I launch the game, it tells me it needs a .net Framework to be
    installed, but boots the game before that installation is even finished? A
    little tomfoolery, is it? I&#39;m skipping everything in the game as I only
    want to try the combat. It&#39;s great that the game starts with a forced
    two minute walking section. Yeah really enjoying this part already. Gameplay
    once it finally starts feels a bit like Lies of Pi where you really need to
    parry stuff. Could be better, but not the worst. Will probably not play
    this.
  </p>
  <p>
    Did you ever hear about Angry Birds? Well
    <strong>Mobs &#39;N Monsters</strong> is like that. Only you shoot monsters
    and it&#39;s complete and utter shit. It lacks gameplay, story, design,
    proper menus, and even functionality. This has more bugs than my own code.
    Here is an example: You can equip your monsters with items. I gave the
    starting zombie a pair of teeth that gave it +2 attack. Great right? Only it
    bugged out and I can&#39;t equip it after unequipping it but I still get -2
    attack every time I try. So now i have a -227 attack zombie and that number
    quite well represents my overall score for this game.
  </p>
  <p>
    As you face the void the <strong>VOIDFACE</strong> faces you. A bullet hell
    game. And it&#39;s a good one. Each level is a boss rush, dodge bullets
    shoot big boss. The bullet patterns are crazy. You know it&#39;s a good game
    if you can shoot the guy in the tutorial and he turns into a giga boss
    harder than anything you have ever seen. Try beating him if you want a
    challenge. Good game.
  </p>
  <p>
    I&#39;m gonna <strong>Level up Everything!</strong> And I&#39;m going to max
    level this game. What is this shit? First of the art is like super AI
    generated, then the game is some sort of dungeon crawler, turn based. You
    got cards to do stuff but it&#39;s not even clear what they do. Tutorial is
    ass, art is ass. There is like twenty enemy goblins on the map and on their
    turn they all move but here is the issue: All their footsteps get played at
    the same time. Can devs like play their own game before publishing a demo?
    Well even they probably don&#39;t want to play this crap.
  </p>
  <p>
    I hate FOMO, but what about <strong>Fomon</strong>? The game opens in a tiny
    window. 800x600 or some shit. The &quot;game&quot; consists of selecting a
    random card out of a random auto generated bunch, then you can fight random
    enemies. Fighting consists out of pressing a single button. This is
    literally the worst thing I have ever seen. What&#39;s the idea behind this?
    To watch my random number card beat up other random numbers? There are no
    skills, no mechanics, nothing. My thing has a tier and an attack number.
    Enemies also have these two numbers. It auto battles. The Art is made with
    AI. Throw this away. There is nothing here, only suffering.
  </p>
  <p>
    Up next we got another crazy chess game with
    <strong>Black Pieces Move First</strong>. The black pawn revolts against
    white always moving first. Puzzle game. Move the black pawn around the board
    to beat white pieces. Pretty neat idea at first but quickly becomes boring
    in my humble opinion. The black pawn saying to the black bishop that he has
    sinned by moving first was cinema though.
  </p>
  <p>
    <strong>Deep Sea Heroes</strong> or more like Deep Sea Shit? Okay this is an
    TBOI like, rooms with enemies and you shoot them. Select the only character
    unlocked in the demo. Enemies shoot every second but the player character
    can only shoot ever five seconds. More if you spam click the mouse button.
    That&#39;s all I saw. Enemies all walking towards you while shooting you, no
    variety. No items. I ditch.
  </p>
  <p>
    In <strong>Pixelpusher</strong> you control a circle with WASD and six other
    circles with your mouse. The other circles can only move a fixed distance
    away from your main circle. Other players control other circles. Small
    circles deal damage to other small and big circles. The game mode is capture
    the flag. Run your enemy in a circle, get their flag which is also a circle
    and bring it to your flag. The arena is a circle, there are objects that are
    circles. Circles aside, seems pretty basic and not much to it from the few
    minutes I peeked into the circle.
  </p>
  <p>
    <strong>Ground Zero Hero</strong> is a Vampire Survivors clone. You were
    waiting for one of those, admit it. I&#39;m failing to see where this does
    anything new that the other clones haven&#39;t done. The upgrades aren&#39;t
    even fun and most of the weapons are firing into the direction you are
    walking. Those types are the worst in these games in my opinion. Trash game.
    Bad humor. Do better.
  </p>
  <p>
    Want a little <strong>Bongo Cat</strong> companion? With this game you get
    the bongo cat meme sitting on your windows taskbar and it counts your button
    presses. A cute way to encourage yourself to type and press buttons.
    Apparently there are also drops you can get from doing enough inputs, none
    so far while writing this review. Seems like a fun little app to have
    running on the side while typing. Neat idea in my opinion. Shirly this
    isn&#39;t a keylogger or a NFT hat scam. Right?
  </p>
  <p>
    <strong>Followship</strong> of the Ring. What a movie, goated. This game
    however. Well, maybe it&#39;s cool if you like games like WOW. Classic holy
    trinity of attack, tank, healer. Combined with different heroes with
    different abilities. Cut all of the leveling and stuff from a MMORPG and go
    straight into the dungeon raids. Not my kind of stuff, but might be cool if
    you are into that.
  </p>
  <p>
    Omega <strong>Ultra Mega Cats</strong>. With a name like that I&#39;m
    expecting some cinema. What I get is a 3D Vampire Survivors meets Overwatch
    hero shooter but with cats. Okay? The game lags, the humor is cringe, the
    gameplay is not fun. Your gun overheats and leaves you being unable to shoot
    for like a whole minute. Also the shooting itself feels bad and jank. Ultra
    Omega Hyper Trash. In all seriousness though, this game sucks. For real.
  </p>
  <p>
    All games with Fall in the title are good, right? So let&#39;s take a look
    at <strong>CleanFall</strong>. Noita with Don&#39;t Starve graphics. Survial
    roguelike. Weird concept, but looks interesting. You have a gun to dig down,
    get down as far as possible. The deeper you go the more monsters show up.
    The atmosphere is really good, the monsters are quite weird and creepy. I
    like this one, might be an interesting game should you figure out how
    everything works as there seem to be quite some mechanics. Give it a look
    and for me it&#39;s the first game to wishlist from this next fest.
  </p>
  <p>
    <strong>Star Fire</strong> starts off with an insane banger in the main
    menu. Holy. This is a side-scrolling action game. Both hands on the
    keyboard, WASD-Movement, attacks with J, K, L. Plays like a fighting game.
    You get random weapons, upgrades and... This is a vampire survivors fighter.
    Actually fun however, good game. Combat feels fun and a new spin on the
    genre.
  </p>
  <p>
    <strong>Settler&#39;s Domain</strong> is your classic city builder game.
    Build tents, gather food, gather resources, get settlers, etc. You know the
    drill. Honestly why do I keep trying these games? It&#39;s so often nothing
    new. Same old same old. The real question is how fast can you brick your
    playthrough, that means how fast can you mess your settlement over so you
    have to start fresh? The answer is: pretty darn fast. But instead of trying
    again I prefer the uninstall.
  </p>
  <p>
    <strong>Isle of Reveries</strong> reminds me of an old game boy color zelda
    game. It has the items, sword, top down view, block pushing puzzles, same
    drowning animation as Minish Cap even. Seems really well made, pixel art
    looks super cool. Perfect game if you want that nostalgia feeling. It even
    tells you there is no autosave, if you don&#39;t save yourself progress will
    be gone. Based.
  </p>
  <p>
    Clown <strong>Chaos Caster</strong>. Is a TBOI-Like. Cast spells, dash
    around, clear rooms, get items to get stronger. The controls are complete
    ass. Movement feels entirely wrong and super jank. The dash is also feels
    trash as it is far to unresponsive. If you want to make a game like this,
    movement is king. Get it right before you even think about implementing any
    further features. Next game please. By the way, is that why it&#39;s called
    next fest? Because you want to move on from some of these and play the next
    one?
  </p>
  <p>
    Another mecha game up next with <strong>Dolls Nest</strong>. Cute girls in
    big mechs. Game starts, tutorial the classic mecha stuff about boosters,
    guns, etc. Game world itself is quite empty. Gameplay feels a bit jank.
    Overall nothing in this appeared interesting in the short time I walked
    around. Only vast and empty. Moving on.
  </p>
  <p>
    <strong>SHOOPER NOVA</strong> is a rogue-lite, tower defense, and a bullet
    hell. Or let&#39;s call it a Brotato-Like. Play as a planet, add towers and
    upgrades. Shoot enemies by spinning the towers around. After each wave a
    shop opens for upgrades. Quite fun, but rotating the towers to hit the
    enemies seems a bit tedious after a while.
  </p>
  <p>
    Let&#39;s get on the ranch in <strong>Cattle Country</strong>. Start game,
    get greeted by an sweet pixel art menu, press start, select a save file and
    let&#39;s go. Well, that&#39;s how it should have been, but the game
    literally throws an error at me. System.FormatException: String was not
    recognized as a valid DateTime. Okay, no worries, let me verify game files
    and then it should work, right? Nope same error. Trash. Let&#39;s take a
    look in the community hub... and there are people with the same error.
    Apparently having windows set to a 24h clock crashes the game. Unbelievable,
    I wanted to do some farming.
  </p>
  <p>
    Sliding in your DM&#39;s as the <strong>Sliding Hero</strong>. You remember
    those ice sliding puzzles in Zelda or Pokemon? Well, if you love them this
    is for you. This is a top down adventure game with that mechanic. Where you
    ask? Everywhere. All rooms. All enemies. Ever. Single. Thing. Press into one
    direction and you are going to slide until you hit a wall. Time to see past
    your usual movement and see the straight lines. Time to slide.
  </p>
  <p>
    <strong>Drop Duchy</strong> combines tetris with Slay the Spire deck
    building. Awesome concept and executed really well. Looks good, feels good.
    The only thing that remains to be seen is if there are enough different
    cards and effects for it to have a lot of variety. Wishlisted and might
    check it out if it isn&#39;t too expensive and I got some time to waste.
  </p>
  <p>
    <strong>Cardalaxy</strong> is a so called card upgrading game but the only
    thing this upgrades is my disdain for games that have a thousand menus. Like
    what the hell is this. Open the game and click a few things and then tell me
    that this is fun. Menus upon menus. What am I even doing here? At least the
    Art isn&#39;t made by AI because it looks completely shit. Get this trash
    away from me.
  </p>
  <p>
    Earlier I talked about Border Pinoeer and now we take a look at
    <strong>Kingdom&#39;s Deck</strong>. This game is pretty much the same, but
    with slightly different mechanics and much janker controls. Honestly not
    seeing a reason why you should play this over Border Pinoeer except the
    different Art style. Isn&#39;t it weird how so often two games release close
    to each other and are very similar? Like I would get it if this came way
    later, inspiration and all that, but at the same time? A mystery.
  </p>
  <p>
    <strong>Roots Devour</strong> has you connecting cards with roots. Each card
    gives you water to connect further cards. A bit like a puzzle game. The
    tutorial and dialogue is really frustrating however. Every time you want to
    connect two cards another info or dialogue pops up. It&#39;s perfectly timed
    to be annoying. Oh by the way, you play as an eldritch monster and the water
    is blood from living things you find and slaughter. Nice.
  </p>
  <p>
    <strong>Necroflora</strong> is another evil plant like creature game. See
    what I said above about two games being the same? In this you plant Flowers
    that grow and shoot enemies that run at you. Game has no audio. Controls are
    completely unknown, clicking seems to do something? It&#39;s also really
    scrolled out and everything is super tiny. I don&#39;t know maybe devs
    should have watered their pc a bit more so this grew in an actual good game.
  </p>
  <p>
    Now with <strong>Islets Defense</strong> we got a game with good polish. The
    tutorial is short and on point. Game is a tower defense, but you also need
    to gather resources etc. There is four actions that rotate when used. Most
    right action gets the most stars meaning it can create the most advanced
    stuff. Really unique concept and seems fun, with amazing strategic depth.
    The visuals are colorful and really nice to look at. Like it, good one devs.
  </p>
  <p>
    In <strong>Seeds of Calamity</strong> you are managing a farm after the —you
    guessed it— calamity. Stardew Valley clone in medieval time. Oh there is
    also magic. Water can never runs out of water. You have a spellbook
    companion that turns into some sort of cute animal or a book. The fishing
    game is the dead by daylight generator thing. Okayish game I suppose.
  </p>
  <p>
    <strong>Monmusu Auto Battler</strong> start of with selecting the character
    and then the first line of dialogue is literally
    <em>&quot;(Swallows) This... is outrageous!</em>. Indeed it is. The game
    appears to be a mobile game, auto battler style and I think this is a gacha
    to get the cool monster girl characters for your team. Cute colorful art but
    yeah. Pretty boring, no gameplay other than pressing auto battle. Everything
    else happens on its own. Can&#39;t have gameplay in my video game.
  </p>
  <p>
    Can you code? <strong>Code Trainer</strong> is there to test your coding
    skills. It won&#39;t teach you how to code but it gives you basic problems
    to refresh your knowledge. Can pick between basic languages like python,
    java, javascript, c#. Right now it has only like nine problems to solve. Was
    fun however to do a quick factorial, has been some time since I did
    something like this. Neat idea, could be good if they add a lot of content.
  </p>
  <p>
    <strong>Gothic 1 Remake (Nyras Prologue)</strong>. You know what Gothic is
    right? THE action RPG. My first ever game I played in this gerne was Gothic.
    And it was and is the most GOATED game. If you haven&#39;t played it then
    you are not a real gamer. This remake seems okayish. Controls are a bit
    sluggish, otherwise it seems fine. I will most likely take a look once the
    game comes out, because this and Gothic 2 are two of my favorite games of
    all time. Maybe it will be a disappointment though, not sure yet, but from
    this Demo alone it doesn&#39;t seem complete trash. Music is top tier like
    back in the day, banger OST. You should give it a listen.
  </p>
  <p>
    Have you missed crafting games? Fear not, we have
    <strong>Solarpunk</strong> up next. Classic survival crafting game. Collect
    sticks and stones, craft a axe, chop down a tree, make a workbench, get a
    pickaxe, get more stone, craft things. Feels like I have played a thousand
    games like this. The twist in this one however is that it takes place on
    tiny floating islands. Build an airship and explore other islands. Kind of
    like stranded survival games but now the islands are in the sky. If you want
    a survival game, maybe this is something for you.
  </p>
  <p>
    <strong>Wanderstop</strong> is about running a tea shop as a fighter who
    wants to fight and not serve tea. Gameplay seems decent, making tea requires
    many little steps, not hard but takes a while. There is farming for the
    different types of tea. Game itself seems like it wants to convey the
    message of taking a break. Some might call this woke. I think it&#39;s a
    neat idea, might be worth to check out this comfy, cozy game. Already on
    wishlist, stays on wishlist.
  </p>
  <p>
    Another one of these small games that you can have open while you do other
    stuff is <strong>Peacequarium</strong>. This one is highly sus however.
    Menus and everything are terrible. In this one you buy fish for your
    aquarium. You can have fifty per default. I got an steam achievement for
    each fish I bought. Game says something about gifts in steam inventory. NFT
    Game? Uninstalled this shit straight away. You want a good aquarium game?
    Try Insaniquarium Deluxe. Goated game of my childhood.
  </p>
  <p>
    <strong>Evoker&#39;s Gambit</strong> is a base builder. I think. No real
    tutorial, a gazillion menus once again with another million different
    buttons and a billion different currencies. Why. No matter what I click
    here, it makes no sense to me. What is this, what is that. They certainly
    took a gambit with this game, by making it a giant pile of shit.
  </p>
  <p>
    <strong>WarOS</strong> is like Evoker&#39;s Gambit. Shit. This is some kind
    of RTS. At least is think it is? No idea about the controls, no idea about
    anything in this. The only thing I do know is that when you select anything
    in this game it plays a high pitched beeping sound which is really annoying.
    And let me be clear here: It is really bad. Almost as bad as this game.
  </p>
  <p>
    Very cute looking is <strong>Food Wagon - First Taste</strong>. You run
    around with a food wagon as the name implies but that&#39;s as far as I got.
    I don&#39;t quite understand how this game works. You can kill birds to
    level and get Vampire Survivor like upgrades but what&#39;s the wagon for?
    And how do you cook? I checked the trailer to figure it out but they fail
    all steps in that too. Amazing. Devs are cooking with this one, but
    unfortunately they are cooking themselves.
  </p>
  <p>
    <strong>Monster Train 2</strong> is like the first game and that is really
    damn good. This is my favorite Slay the Spire like. Love the first game,
    love this game. New monsters, new mechanics, new equipment, new artifacts. A
    wonderful deck builder. Gameplay is simple, defend the train from invaders.
    There are three rooms, each can hold monsters. Your cards can upgrade
    monsters, spells deal damage, upgrade your guys or do different stuff. New
    feature in this one are equipment cards which apply a buff to a monster, but
    each monster can only hold one by default. I didn&#39;t even know they were
    making this. Love it. Wishlisted and going to buy this one for sure.
  </p>
  <p>
    In <strong>Gal Guardians: Servants of the Dark</strong> you play as two
    demon maids after their lord gets killed by a rivaling demon lord. Get his
    bones to revive him and rebuild the castle in this metroidvania. The pixel
    art is top tier and the gameplay appears to be decent. A bit of the same
    enemy types at the start, but maybe it gets better later. If you want to
    play a Castlevania but with cute demons, and demon maids at that, this is
    it. Let me say it again: The pixel art is top tier.
  </p>
  <p>
    <strong>Final Outpost: Definitve Edition</strong> is yet another base
    builder. Build up your camp against the zombie apocalypse. Collect resources
    during the day, defend against zombies at night. Mechanics are simple yet
    interesting enough to make you play another day to see if you will make it.
    Decent game but nothing new under the sun.
  </p>
  <p>
    Did anyone say city builder? <strong>Autarkis</strong> is another. Build a
    settlement, workers, food, energy, mines. It&#39;s tiled and a bit puzzly to
    supply the needed resources to each building. Anything new here? No. One
    more on the pile. How many city builders can there be? How many will there
    be? Too many.
  </p>
  <p>
    <strong>Sandustry</strong> is a game about shifting through sand to find
    gold. Powder physics meet automation. Throw sand into water and shake it to
    reveal the gold inside. Conveyor belts and automatic shakers are of course
    included. Game seems fun at first until you notice how slow everything is.
    First research is fifty gold, easy. The second is five hundred. You get
    around 20 gold every minute or so if you trying hard as mining and picking
    up can&#39;t be automated at the start. I suppose it will be later, but I
    don&#39;t see myself grinding for hours before the real fun starts.
  </p>
  <p>
    <strong>Founders Lagacy</strong>, a half screen game. Again. Everyone
    hopping on the rusty&#39;s retirement success. In this one you build a
    settlement or something. Honestly as soon as a bunch of achievements popped
    up again I ditched. UI is way to small to tell what&#39;s going on or to
    read the texts. Hate it. No more of these please. Make real games not
    attention zappers that sit on the bottom half of the screen. Humanity is
    already fighting enough of that cancer.
  </p>
  <p>
    The baby of Luck be a Landlord and Stardew Valley is
    <strong>Another Farm Roguelike: Rebirth</strong>. Roguelike Stardew Valley
    but turn based. Each turn rent gets higher, so you need to get more crops
    and more money. Build, craft, plant, FARM. Gameplay feels good, no talking
    or running, click everything and get the money. Buy more land plots like in
    forager. Like it. Wishlisted this one.
  </p>
  <p>
    <strong>Rustwing</strong> is a roguelike space ship game. Fly your ship and
    shoot other ships. Get upgrades and stuff, traverse a map FTL-like. Controls
    are those weird space ship controls where you move forwards by pressing W
    and steer left and right by pressing A and D. I was never a fan, will never
    be a fan of that. Graphics aren&#39;t the best either. Pass on this.
  </p>
  <p>
    <strong>Asgard&#39;s Fall - Viking Survivors</strong>? More like Vampire
    Survivors, but this time it&#39;s done right. A lot of powerups, mechanics,
    upgrades, many enemies, cute little pixel graphics. It has it all. Gameplay
    is smooth. Seeing a lot of mechanics from other vampire survivors that I
    liked here. Liking it, good mix up devs.
  </p>
  <p>
    A quick look at <strong>Neongarten</strong>. A city puzzler. Place the right
    buildings next to each other in a 3D Grid. Yeah that&#39;s the game,
    didn&#39;t interest me a lot to be honest. Skipping ahead quick on this one,
    sorry devs.
  </p>
  <p>
    Stardew Valley meets... Genshin without the gacha?
    <strong>Tales of Seikyu</strong> combines the two into a fresh new take on
    farming. A land of mythical Yokai&#39;s, you are one too and can change your
    form into other creatures, like a boar. Game is still a bit rough at the
    moment but the potential is there and seems huge. Apparently there are also
    pals like in palworld? This game has it all and I might check this out again
    if they keep cooking like this.
  </p>
  <p>
    <strong>SERAPH: In the Darkness</strong> is a Diablo 2 Clone. Let&#39;s boot
    up the game, press start and it selected the asian server. Well no problem I
    only want to take a quick look anyway. Next is character creation. Classes
    stand around a bonfire like in diablo. Pick one and get blasted IRL. Each
    class has a little video playing for what it can do, only problem: it has a
    volume and that is playing really loud. Also the music doesn&#39;t fit this
    atmosphere at all. Okay, no problem. Pick the necro and let&#39;s go. Wait I
    need to give a name, I go with the creative &quot;Test1231dsa&quot;.
    <em>Name contains sensitive content, please adjust.</em> Did I stutter? The
    only thing this has going for it is being a bad Diablo 2 copy. It looks like
    AI has been used here. Don&#39;t play.
  </p>
  <p>
    Hero based Diablo? <strong>Dragonkin: The Banished</strong> looks to be just
    that. Select your hero, find the dragon and kill it. Didn&#39;t create a
    single spark of excitement for me. Game starts you as a warrior with 20k hp.
    Holy numbers. The best attack is a wide sweep that you do by pressing 2. So
    walk and press two. For minutes until I closed the game. Make me press more
    buttons or anything exciting at all and you might make me care a bit.
  </p>
  <p>
    I didn&#39;t know they made a game about you.
    <strong>Nerd Simulator</strong> is one of those Pc Hacker type of games like
    Welcome to the game or others of its kind. Neat little puzzles, humor and a
    thick boned nerd. Fun game but not my kind of stuff.
  </p>
  <p>
    <strong>Tower of Babel: Survivors of Chaos</strong>, Vampire Survivor like,
    climb the tower, kill enemies, get upgrades. You know it. Same but
    different, but still the same. Thousands of Vampire Survivor likes. When
    will someone make a game to slay all the vampire surviors? That would be
    funny. Ah you want to know something about this game? No.
  </p>
  <p>
    <strong>The King is Watching</strong> again. The keen eye might remember
    that I have review this game in the past already. Back then I think I liked
    the concept but I thought it was too slow and not interesting enough. Well,
    let me tell you I like this game now. I really like it now. Place tiles to
    gather resources, but only those tiles under your watch actually work. Kind
    of like in real life. Slay the Spire like deckbuilding, artifacts and all of
    that is in. Love it. Wishlisted and most likely going to check this one out.
    What a redemption story for this one.
  </p>
  <p>
    Next: <strong>Knightica</strong>. Another Slay the Spire like. In this you
    build recruit troops to auto battle the enemy. A bit like Auto Chess since
    you can combine units of the same type. Units buff each other and become
    stronger. Simple and fun concept. I like it. If this isn&#39;t too expensive
    I might buy this and check it out.
  </p>
  <p>
    <strong>Fae Farm</strong> is a Stardew Valley like with a focus on coop. Up
    to four players on the farm, farming, growing, planting. At this point you
    should already be dreaming about planting crops. Watering crops. Harvesting
    crops. All the crops. Game seems neat, fun graphics, smooth gameplay. Not
    sure what new stuff this one brings to the table however excpet more of the
    same. During character creation every time I selected anything the character
    laughed. Hilarious really. Wishlist removed.
  </p>
  <p>
    Become the <strong>Debugging Hero</strong> by drawing the debugging sword.
    With it you can change values during gameplay, like your health, attack
    damage, armor. Enemies can also be changed. Then fight in a top down action
    game to slay the demon lord. What an unique idea. Art is really cute.
    unfortunately I talked to a bonfire that restarted the entire demo and I
    don&#39;t want to go thought all the dialogue again. Each dialogue box has a
    fun sound however. Satisfying slam for every line. Neat game.
  </p>
  <p>
    I only installed <strong>Lucifer vs Furries</strong> to see how bad it is.
    The answer is pretty bad. Of course this is a Vampire Surviors clone where
    you play as lucifer and punch furries. Whole screen turns red from blood.
    Gameplay is nothing special. A pile of edginess that forgot it had to be fun
    along the way.
  </p>
  <p>
    <strong>Call The Abyss</strong>? I would rather have you call the police.
    What the fuck is this. It tries to be... a Vampire Surviors clone. What else
    if not that? Are there any other genres left? The ground texture is
    extremely blurry. The gameplay is not existent. Everything in this game is
    horribly done. Bad code, literally. Actually call the police off or they
    will arrest me for what I want to type about this pile of shit.
  </p>
  <p>
    <strong>Is This Seat Taken?</strong> In this cute puzzle game in which you
    have to find a seat for every person. Everyone has specific likes and
    dislikes. Try to make everyone happy. Really cute art and the puzzles are
    fun. I like this puzzle game a lot. Cool stuff. Wishlisted.
  </p>
  <p>
    Some kind of survival game. <strong>Machine Mind</strong>. Sorry but the
    only thing I noticed about this game is the translation. It is hilariously
    bad. Worse than a third grade online translator. Proper translation is hard,
    but with a million games you have to put in the effort. If you don&#39;t
    care enough, then I wont either. Besides, the gameplay was ass. I hate these
    top down driving survival games. Get out.
  </p>
  <p>
    <strong>Broventure: The Wild Co-op</strong> actually has the same
    translation issue as Machine Mind. Also this is a Vampire Survivors clone.
    Why are we here? Just to suffer? Make it stop already. The style of this
    reminds me of Don&#39;t Starve. Which is a good game. Play that and not
    this. Fuck this. No further comments your honor.
  </p>
  <p>
    Half screen game? Then you get half of my attention dear
    <strong>Animal Spa</strong>. Click a thousands of tutorials to do some shit
    to set up a spa. Wow. Such menus. Very clicky. Much animals. I&#39;m done.
  </p>
  <p>
    <strong>Do No Harm</strong>. Papers Please inspired but this time you are
    not border patrol but a lovecraftian doctor. Quickly find out the patients
    disease and give them the right magic fluid. Careful however, some are
    allergic to certain substances or have other symptoms that have to be cross
    checked. Doesn&#39;t help that you go more insane with every minute. Great
    concept, wishlisted.
  </p>
  <h2 id="tl-dr">TL;DR</h2>
  <p>
    A lot of trash as usual but also some really bright shining stars in this
    batch: CleanFall, Drop Duchy, Wanderstop, <strong>Monster Train 2</strong>,
    Another Farm Roguelike: Rebirth, <strong>The King is Watching</strong>, Is
    This Seat Taken? and Do No Harm.
  </p>
  <p>
    My personal highlights are Monster Train 2 and The King is Watching.
    I&#39;ll absolutely play those two and maybe also dive into the lovecraftian
    horrors of CleanFall and Do No Harm if I have some time to waste.
  </p>
  <p>Cheers your local demo hunter.</p>
</div>
