<div class="review-container">
  <h1 id="next-fest-june">Next Fest June</h1>
  <p>
    I&#39;m on vacation and Next Fest is taking place during this exact time.
    You wonder how I managed to play all these games despite that? A mystery I
    shall not reveal to you but know it wasn’t easy.
    <br />
    You ask why I&#39;m even doing this in the first place then? I answer with a
    question: Why are we doing anything? Why am I writing this? Why are you
    reading this? Is it predetermination that has guided us to this situation?
    Is it your free will, your own decision that has lead to this result? Let’s
    try something and raise your arms into the air right now. Or don&#39;t. Did
    you? Was that free will or another string of fate? Is everything we do
    predetermined? Are we just machines executing instructions created from the
    data stored in our brains? And if so then what are we? Are we real or only
    machines reacting to influences out of our control? Is all we experience,
    all that we do only a result of entropy? Are we nothing more than particles
    floating into a predetermined direction by the origin of all things?
    <br />
    I say we are more than that. What we do matters. What I write here is not
    the result of anything other than my own will. You and me, our actions are
    our own. We are both real. And fortunately so are these demo reviews you are
    about to read.
  </p>
  <p>Tl;dr at the bottom as always.</p>
  <h2 id="demos">Demos</h2>
  <p>
    This time we are starting of with <strong>Escape From Duckov</strong>. Take
    a guess what this one is about. Can you picture it? Good, because it really
    is escape from tarkov but as a twist you are a duck. And it&#39;s single
    player. Starting the game you can create your own custom duck. It’s fun with
    the different shapes and colors. Then we start the tutorial and oh boy, it
    really is like one of those shooters. They even copied the ridiculous stupid
    inventory management of opening a bag, clicking an item, clicking it again
    to attach it to a gun, and clicking a bunch more. Kind of like PUBG
    inventory management. It&#39;s so awful I don&#39;t understand how people
    can stand this in other games. But hey, ducks.
  </p>
  <p>
    It&#39;s time for the <strong>Apokerlypse</strong>. A game where you play
    poker hands to score. You start with a big hand of many cards and the player
    who plays all their cards first wins. The catch is you can only play a
    higher hand over the one your opponent played. There are special cards
    beside the normal playing cards. For example a card that removes the hand
    your opponent played or a card that burns the left side of your current held
    cards so you don&#39;t have to play them anymore. Seems like it has quite a
    bit of strategy to it but it feels a bit unpolished and the fun gets drowned
    out by to many specific rules.
  </p>
  <p>
    <strong>Warborne Above Ashes</strong> boots up and starts of with a
    recommendation for me to lower the graphics because my PC can&#39;t handle
    the game. That&#39;s a lol from me dawg. Alright, login (I don&#39;t even
    have an account but it works, I guess it uses steam) choose a name for my
    hero? Myself? My avatar? I don&#39;t know. I choose a name anyway and then
    it goes on to ask me to pick a faction. What for? Still no clue. I take the
    red one because why not. Now the game finally starts by my character landing
    on the planet. I still have no faint idea what&#39;s going on but I&#39;m
    getting attacked by thousands of tutorial screens. This is some kind of MMO
    I think? It&#39;s top down with diablo like movement, I attack enemies by
    pressing buttons. My fun is still busy trying to close all the tutorial
    screens. While I don&#39;t get what I&#39;m doing the chat is full of
    Russian spam. I leave.
  </p>
  <p>
    Did you ever want to <strong>Date Everything</strong>? Well here you can. A
    game made by Team 17, the worm creators, lol. It starts of great by giving
    you a screen that looks like a paper form where you enter your name etc. and
    if you click continue it shows that you missed a cheeky hidden checkbox that
    if checked requires you to &quot;jump hoops&quot;. Hard to describe but
    actually done in a funny way. Starting the real game it opens with the
    player character being a new hire at a company doing customer support. Take
    the customers actually funny requests we get fired on the same day we
    started working this job. At least there is thiscord to chat with friends. A
    stranger slides into the DMs and sends a pair of glasses that arrive the
    next day via drone. They turn every object into a character that can be
    dated. The door? Dorian the bouncer. The magnifying glass? A detective. The
    glasses themselves a cheery woman. Other than that it&#39;s just bla bla bla
    the game.
  </p>
  <p>
    From talking to singing in <strong>Ratatan</strong>. The game opens with a
    big notification in Japanese and then a flashing TV screen. The dialogue is
    also non skip able. At least the language can be changed in the menu after
    clicking random options. The game itself works like a combo rhythm game.
    Press &quot;J&quot; or &quot;K&quot; to perform different three button
    combos with the little minions to perform different actions like attacking.
    The sounds are already annoying me after only a few minutes. I also hate
    rhythm games. This is really bad. Let me do a K-K-Kombo to skip this.
  </p>
  <p>
    <strong>No, I&#39;m not a Human</strong> opens up strong. The visuals are
    freaky. The game is more or less a papers please but with a twist. People
    aren’t trying to cross the border but are trying to enter your house. The
    world has suddenly become too hot to be outside and weird visitors have
    emerged from the ground. They look like humans but aren&#39;t. You need to
    make sure they don&#39;t enter your house and also that you are never alone
    once they appear at your door. Too bad all the people are suspicious in
    their own unique way. Do you let them inside or not? And once they are
    inside and you grow suspiscious of them what will you do? Amazing game, this
    is a wishlist and a buy or watch of a playthrough for me. Great work devs.
  </p>
  <p>
    <strong>Cinderia</strong> starts out as another language puzzle. Press
    random buttons in random menus to change it to English. Disappointingly all
    that user input wasn&#39;t even worth it for this game. The game is a
    binding of Isaac like but I have never seen such broken shit. The attacks
    make the character slide like he is on ice. Shooting right makes it move
    randomly to the left. It&#39;s not even consistent. Killing an enemy floods
    the entire screen with coins. There are literally too many coins for the
    game to handle. The graphics may be decent but this shit has never been
    playtested. Is this AI generated? Please devs delete this monstrosity and
    start over from scratch.
  </p>
  <p>
    In <strong>Evolve Lab</strong> we get to grow a sea monster. This is a
    backpack battler like game but instead of filling the backpack we are adding
    mutations to our sea monster. The monster itself is nothing more than a
    state machine of six states that are on a cycle and execute the actions you
    put into each state. There are modifications like spawning little other
    monsters, moving towards the enemy, attacking with tentacles or spikes.
    There are also modifiers that effect these actions like one that adds poison
    damage. My strategy is to spawn as many little sea monsters as possible
    until I lose a battle. It works for quite a while until my squid gets
    squished. The idea is neat but the simple visuals and low variance of
    abilities is holding this one back a lot. Nice idea however.
  </p>
  <p>
    Bored? Then that&#39;s a perfect opportunity to play
    <strong>IDLE BOSS RUSH</strong>. It&#39;s a classic idle clicker game like
    cookie clicker. Only this time it&#39;s not about cookies but fighting
    fantasy boss monsters while building a town. Each monster gets more health
    as your town gets larger. Numbers go up the game. The sprites are quite
    impressive but in the end these games are all the same. You might be better
    of being bored and having your brain actually think for a change instead of
    numbing it with this senseless distraction.
  </p>
  <p>
    <strong>Star Birds</strong> is a game by the YouTube channel Kurzgesagt. I
    have never watched that channel but the art style of their videos looked
    neat so I checked out this game as it is made in the same style. Space Birds
    is like the name suggests a game about mining resources in space. Collect
    them, transport them, refine them. Explore asteroids and different quests
    for different resources. It&#39;s okay but nothing new or exciting. Same old
    mine this, turn this into that, you know it. If you want a game like this
    play Factorio. With it&#39;s Space Exploration DLC you have all which this
    game offers and so much more. #AD
  </p>
  <p>
    <strong>Herdling</strong> starts you off as a hobo under a bridge. Contrary
    to what you think this isn&#39;t a Forsen simulator but the main character
    quickly turns into a shepherd of these creatures called Calicorns. Tame them
    and herd them along the way. I don&#39;t know what the appeal of this game
    is supposed to be. Herding these creatures along to solve puzzles and all
    that seems more annoying than fun. However it does create that longing
    feeling of wanting to leave civilization and caring about your little herd
    even after only a few minutes. So atmosphere is great but gameplay is
    lacking. Maybe it gets better later but who has time for that in this age of
    superficiality. You get a few minutes nothing more. Better place something
    to catch attention for long enough if you want people to invest into your
    creation. It is tough but that&#39;s how it is. No wonder Yoko Taro does his
    characters like that. A visionary. We got another great example of this at
    the end of this review. So you better stay tuned for greatness.
  </p>
  <p>
    Why fix what wasn&#39;t broken? <strong>Neon Abyss 2</strong> continues
    where the first one started. Bright cyberpunkish graphics and nice beats
    come together in this side view binding of Isaac like. Not more to say than
    this is more of that. A good game but more of the same. There are probably
    new mechanics and tons of new items but personally I feel like it needs more
    than that. Might give this a show once it gets free on EGs tho. Who knows.
  </p>
  <p>
    <strong>Anvil Empires - Massive Battle Stress Test</strong> sounds epic but
    is shit. This is a demo of the battle functions that are supposed to be in
    this game. The full game will feature all the other boring stuff too, like
    farming resources preparing for battle, managing your guild etc. However
    this demo is supposed to be only the best parts, the battles. Let&#39;s join
    the only open battle called &quot;Calligo01_G&quot; and fight for glory.
    Wait. There is queue. No problem I wait. There is an error. I wait again.
    The queue is even longer. I swap the factions and get into the game. I see a
    small camp of tents and get disconnected. There are no more events other
    than Calligo01_G going on. I check back after a few demos and there are
    still no other events. Says check back soon for the next event and I say
    nah, fuck you.
  </p>
  <p>
    <strong>PIGFACE</strong> isn&#39;t about your mom but about killing people.
    Hotline Miami like but in 3D. It&#39;s missing the precision that makes
    Hotline Miami so fun. There is no reticle for shooting guns or throwing
    weapons. I think it might be fine after some getting used to. The story is
    the main character gets kidnapped and they implant a bomb into their skull
    so now they have to follow the instructions from the guy calling in. Oh they
    are also a murder machine. Bang Bang.
  </p>
  <p>
    In <strong>Mina the Hollower</strong> we play a little rat like creature in
    an action adventure game that looks and feels like old Zelda games but with
    a modern charm. Shovel Knight devs doing what they do best. Modern games
    with Retro look. Love it. Game starts with Mina being on a ship and a Kraken
    attacks. The boss fight is quite simple but fun. The controls feel snappy
    and there are even three different weapons that we can choose from. I take
    one that works like a whip and attacks from afar. As we move forwards we get
    more abilities like jumping over stuff and digging through the ground. If
    you are looking for a game like this I would recommend it.
  </p>
  <p>
    <strong>VOID/Breaker</strong> is sick, wicked sick. It&#39;s a shooter
    rougelike. We got it all, the items, the upgrades even the slay the spire
    like map where you choose which battle you head for next. Besides that it
    has a lot of other stuff. Abilities like telekinesis and movement tech. The
    buildings are completely destructible and affect enemies. The art style is
    unique and bodies marathon. All this was made by one guy. It&#39;s really
    impressive and you should at least take a look at the trailer for this
    incredible work this dev created.
  </p>
  <p>
    Sneaking in as the next game is
    <strong>Eriksholm: The Stolen Dream</strong>. This is a top down stealth
    game. The graphics are really good. Game is story driven so not the best for
    a short review since I usually skip most of that during these reviews. The
    game has everything it needs to be a success, it all depends on if the story
    is decent. Can&#39;t say much more about it.
  </p>
  <p>
    <strong>BALL x PIT</strong>. We got breakout. We got space invaders. We got
    vampire survivors. Genius. This mix of genres has created something unique
    that is quite fun. Get different power ups to defend the goblins appearing
    at the top of the screen and slowly moving down to attack the player
    character. Collect the XP they drop and choose one of three random upgrades
    to get stronger. The longer the game the larger the playing area gets and
    the more enemies appear at the top of the screen. This is a lot of fun and a
    wishlist for me.
  </p>
  <p>
    <strong>Circle Empires 2</strong>? I don&#39;t even know the first. A RTS
    game where you build stuff and conquer other circles. Build more stuff and
    conquer more circles. A lot of buttons and menus. Nothing is explained,
    maybe because I skipped the tutorial by accident. I don&#39;t know this
    isn&#39;t doing it for me.
  </p>
  <p>
    Oh boy let me tell you about <strong>Morsels</strong>. A game that looks
    like it could be great but is awful. No not only awful it&#39;s downright
    terrible. This is like nuclear throne where it plays like a binding of Isaac
    like but there are no rooms but only a single large one. But here is the
    problem: You have a limited amount of shots until you need to wait for them
    to recharge before you can shoot again. The kicker is that they only
    recharge if you are not holding attack. If you do they won&#39;t do shit.
    This might not sound like much but it&#39;s really fucking annoying.
    Don&#39;t believe me? Go on and try it. It&#39;s horrible. The game
    isn&#39;t easy either. I died a bunch to the few first enemies. Feels like
    I&#39;m a true game journalist now. Oh also: This game has weird graphics.
    Slush like. Just like the gameplay. Slushed and flushed.
  </p>
  <p>
    <strong>Vindictus: Defying Fate</strong> is huge as in 60gb huge. I really
    hope this was worth it to download. Made by Nexon, oh boy. I know what to
    expect already. The game booting literally froze my PC for a few seconds.
    What a start. You know what else is huge besides the demo&#39;s size? The
    player character’s boobs. I mean she has some serious honkers. A real set of
    badonkers. Packin some dobonhonkeros. Massive dohoonkabhankoloos. Big old
    tonhongerekoogers. The game itself is a souls like, but as in classic Nexon
    fashion we are more focusing on the gooning. There are already like thirty
    outfits you can buy for money to make your character wear less clothes.
    Gooner game as they call it but without the gameplay to back it up. Also,
    they should rename the game to &quot;Vindictus: Defying Gravity&quot;,
    because that&#39;s what these boobs are doing.
  </p>
  <p>
    You love superheroes? Well time to meet the worst ones in
    <strong>Dispatch</strong>. Here we play as a superhero who lost his power as
    in lost his super suit or some shit and now has to work as a dispatcher for
    a group of heroes who are criminals but are forced to be heroes if they
    don&#39;t want to be in jail. The different personalities in this game are
    great and you want to see them interact more with each other. The gameplay
    is dispatching the heroes to clean up crimes or do different tasks. The
    decision who to send for the job is fun because each hero has different
    strengths and weaknesses. Makes you want to see what happens next in this
    chaotic bundle. I&#39;ll wishlist this to keep an eye on it.
  </p>
  <p>
    <strong>Everstrife</strong> is yet another vampire survivors clone. I
    don&#39;t think I have to explain what that is anymore so let&#39;s just
    focus on the twist. This time you draft cards that get played in a circle.
    Yeah it&#39;s awful. Next.
  </p>
  <p>
    An old woman approached you and asks you <strong>Witch Way</strong> is the
    next demo? In this game we play as a large titted witch that is defending a
    village. A mix of RTS and tower defense. Upgrade the village during day and
    defend it at night. Game is actually kind of fun but it feels unpolished in
    graphics and animations. Also let&#39;s talk about the sound for a second.
    The balance is complete ass. Effects are way too loud and too many attacks
    or hit sounds get played at once at such a volume that it’s really
    irritating. It&#39;s hard to get right but please, please, try your own
    fucking game at the default settings. Boot it up and don&#39;t use custom
    slider adjustments for once. This is awful.
  </p>
  <p>
    <strong>TerraTech Legion</strong> is another vampire survivors like but wait
    don&#39;t skip yet. This is actually interesting for once. In this you
    don&#39;t pick upgrades for your character but you pick parts for your car.
    Build a large driving battle ship with lasers, drills and orbital lasers to
    destroy the horde coming for you. Game is fun but I wonder how much variety
    is in this. Looks like there will be five different characters and base cars
    but I wonder how many different parts are in the full game compared to the
    demo. Wishlisted to keep track of this.
  </p>
  <p>
    <strong>Dice Trek</strong>. What about Dice Trash. The game starts and only
    one forth of the screen has color, the rest is black. I can&#39;t click
    anything. Verify the files no errors. Start game again and same behavior.
    Check steam discussions and there are posts about the same issue. Apparently
    the game doesn&#39;t work on high resolutions. I mean I get it. Making a
    game is hard. Making sure it works on many systems is hard. Owning different
    hardware to test the game on is practically impossible for an indie dev. I
    get it. But I don&#39;t care enough to wait for any fixes. Sorry little dev.
    Better luck next time.
  </p>
  <p>
    <strong>Morbid Metal</strong>. I once rambled about how weird it was that so
    often two different games release at the same time which are very similar to
    each other. This is another example of that. This is like VOID/Breaker.
    Chose upgrades, fight enemies, choose the path you want to advance along,
    graphics are also great and most of all this was also made by one guy. How
    is this happening again and again? I didn&#39;t get to the part where you
    switch between the multiple characters but the game was already fun before
    that so I think it would only get better. Insane what solo devs can make
    these days. Awesome talent.
  </p>
  <p>
    Getting real creative with <strong>Gun in a Well</strong>. A gun is falling
    down a well. Literally. By shooting you can move the gun to the left or
    right. There are obstacles that have to be avoided while falling. Of course
    vampire like survivors mechanics are included in this. Throw in roguelike
    style elements too why not. All that slop doesn&#39;t save this game
    however. The base mechanic is shooting a gun and that can never be made into
    something fun no matter the upgrades you get.
  </p>
  <p>
    How did this pile of shit get in here?
    <strong>Phoenix&#39;s Faye</strong> is terrible. It has shit fighting
    mechanics, the graphics are god awful and nothing about this is good.
    Honestly there is nothing more to say other than I closed this after only a
    minute because that&#39;s how bad it was. Shit game.
  </p>
  <p>
    <strong>MoteMancer</strong> is fantasy Factorio on a hex map. A crafting
    game where you automatize magic and gathering magical elements like grass. I
    don&#39;t know about you but if I think fantasy game industrialization
    isn&#39;t quite what I have in mind to be honest. Game is okay but
    personally I would insert another Factorio ad in this sentence instead of
    recommending this.
  </p>
  <p>
    <strong>There are no Orcs</strong>. The game is in Japanese but luckily
    there are large flags to press in the main menu to change the language to
    English. The game is one of those auto battlers. Place buildings on tiles to
    win the battle. Certain buildings create units that automatically run
    towards the enemy. Some of the buildings have special effects when placed
    next to others, like generating more money to place more buildings. Game has
    nothing I haven&#39;t seen before. In fact it do be a little basic and
    it&#39;s a bit slow for what it is.
  </p>
  <p>
    Let&#39;s dive into the next game: <strong>Goldfish</strong>. A metroidvania
    like game but you are a goldfish. An alcoholic goldfish in fact. He gets
    asked to save some girl but doesn&#39;t care until he gets told she has rum.
    Wow what a setup. Game is nothing special so I&#39;m skipping.
  </p>
  <p>
    <strong>Bug Bait</strong> is a tower defense where besides building towers
    materials also have to be farmed. Besides that it&#39;s a simple tower
    defense. Bugs spawn and move towards the tent, build towers to squash them.
    The player character can also be attacked by the enemies so farming mats
    gets made a bit more dangerous? Graphics are super simple and uninspired.
    The music in this game is annoying.
  </p>
  <p>
    In <strong>OREBLAZE</strong> you mine ores as the title suggest. Play as a
    dwarf and gather materials for the king. Classic side view block game. Dig
    through the blocks to find ores. The graphics are 8px low res style ones.
    The ores gathered have to be brought back up to the king before his patience
    runs out. Gameplay mechanics are very limited from what I could see but who
    knows there could be more mechanics later but I didn&#39;t find out due to a
    little issue that popped up. To give the materials to the king I have to
    press the left stick up however that doesn&#39;t work. I try pressing all
    buttons but nothing happens. The timer runs out and I game over but it&#39;s
    the same for the game: flushed.
  </p>
  <p>
    In <strong>Hell Clock</strong> we have a diablo like crossed with what other
    than vampire survivor mechanics. Move around and kill demons, get upgrades,
    etc. You know the drill. It&#39;s fun but nothing new besides the well
    polished graphics for once. Game has Spanish audio which is something
    different for a change. Neat.
  </p>
  <p>
    So far every one of the past demo events had a Chesslike. This time it&#39;s
    <strong>Passant: A Chess Roguelike</strong> and this one is actually amazing
    for once. The game plays pretty much exactly like Balatro only we are not
    playing poker but chess. Gather gold from each match and buy upgrades for
    the board like new chess pieces. There are the classics but also special
    pieces like the dragon king that can move like a queen. An artifact that
    gives you two king and you only lose if both get captured? Bouncing bishops?
    Defeated Pieces spawn gravestones that revive pieces in the home row once
    another piece walks onto them? This has it all. Wishlisted and kudos to the
    devs. Amazing. Game could be polished a bit further however because some of
    the UI felt a bit temporary.
  </p>
  <p>
    <strong>The Beast and the Princess</strong> is a simple tower defense. The
    towers are plushies you place in a row to defend the enemies. There is the
    classic upgrading of the towers, special abilities, etc. Game seems to be
    story driven and has an anime style. The mechanics were very simple and a
    bit too boring for my taste.
  </p>
  <p>
    <strong>StarAshFleet</strong> give you a star ship battle simulator. Control
    a fleet of ships in space against an enemy fleet. Move the ships around in
    formation or individually. There are a lot of other mechanics and the game
    seems very complicated to play. The game has this weird style of having
    space being nicely animated and the ships all being 2D sprites. Makes it
    look like pieces of paper floating through space. I don&#39;t often
    criticize 2D graphics but this one definitely fucked them up. It looks
    hilariously bad.
  </p>
  <p>
    In <strong>Pirates Outlaws 2: Heritage</strong> we find another roguelike
    deck builder but this time with pirates. Build a deck to kill the enemies
    with your captain of choice. In the demo the only one that can be picked is
    a little brat. Game has fun mechanics that remind me of slay the spire but
    are also a bit different. Like the map after a level doesn&#39;t prevent
    going back this time. Game is interesting and maybe worth a look.
  </p>
  <p>
    <strong>Solo Leveling Arise Overdrive</strong>. A game after the web novel.
    I think this game is pointless. Let me tell you about the one button test I
    sometimes use for action games that seem trash. It&#39;s where I try to get
    as far as possible by only pressing one attack button. This time it was X
    that did a flurry of attacks. Was enough to beat the entire first level of
    this weird fighting game. The game is pointless trash. The first mission of
    this game isn&#39;t even fitting in to the overall story. Uninstalled. This
    is also the first game to not properly delete the desktop icon after
    uninstallation. Literally garbage incarnate.
  </p>
  <p>
    <strong>ABYSSAL BLADE</strong> is one of those games where you only fight
    bosses that get harder and harder. I struggle on the first boss because the
    mechanic is actually stupid. After a few seconds it goes to the next phase.
    The battle area is this pizza slices looking circle. One slice grows then
    the next etc. Then you die. What you need to do? No you don&#39;t need to
    step on the slices in the order they get highlighted, no you don&#39;t need
    to avoid them either. The solution is to stand on them until there is an
    audio clue then you can move to the next. Incredible stupid and boring. In a
    game like this I expect intense action and speed not boredom and puzzles
    that insta kill making you redo the entire fight.
  </p>
  <p>
    Another tower defense in <strong>Tower Arena Survive</strong>. Looks like
    this is a multiplayer one. Click join match to start and wait for other
    players. Apparently a game needs eight players total. Too bad not a single
    one ever shows up. Next.
  </p>
  <p>
    <strong>Trainatic</strong> is a game about upgrading a train. Add wagons and
    guns, increase the fuel tanks and efficiency to drive further. The game
    starts painfully slow. As in the train can only move for a few seconds. I
    see the upgrade tree and the potential for this to go crazy the further the
    train gets upgraded. Might be worth a look if it&#39;s only a few bucks to
    see the craziness it develops into.
  </p>
  <p>
    In <strong>Hippoxxus</strong> we have a game that is yet another
    metroidvania. Game feels unpolished. I suppose it takes place on a space
    station but the jumping feels way to floaty. Gun controls are also kinda meh
    because it&#39;s fixed to the main four axes. Feels empty and uninspired.
  </p>
  <p>
    <strong>The Royal Writ</strong> is about a king wanting to fight a battle or
    something idk, I skipped the story. The game however is awesome. It&#39;s
    another roguelike deck builder like slay the spire. Differences are that
    there is a board where cards get placed on and then they wander towards the
    other side. Effects and buffs persist after battle. The tutorial is great
    and gives a good overview. It&#39;s fun and now on my wishlist.
  </p>
  <p>
    In <strong>Ascend to ZERO</strong> I once again skim through the menus to
    switch the game from Japanese to English. Afterwards the text gets displayed
    in German. Great. The game is quite unique. It&#39;s about a traveling
    through time to save the world. A roguelike where the player is able to stop
    time and collect items during the fights. Collect enough XP to get vampire
    survivor like upgrades and become stronger. Each run is only a few seconds
    but in reality longer due to the time stop and upgrades you pick. There is
    also a home base which can be upgraded. The style is unique and reminds me a
    bit of something like cubeworld. Wishlisting this as it’s quite fun.
  </p>
  <p>
    From many bad tower defense games to <strong>Gnomes</strong>. This 8px
    styled game is one of the greatest tower defenses I played recently. Plant
    crops to create an economy and construct houses to hire more gnomes to
    defend the garden. Each day enemies appear from a different random direction
    and the defense has to be moved around. If they can&#39;t find a path they
    will destroy existing buildings. Each day a shop opens where new plants and
    gnomes can be unlocked for money. There are also artifacts that increase the
    strength of the gnomes or enable other specific abilities like plants
    spreading if an enemy gets defeated next to them. It&#39;s a bit hard to
    describe but a lot of fun. No wonder this games sits at overwhelmingly
    positive reviews because it&#39;s actually already out and not really part
    of next fest. I just threw this demo in here because I can. The game is also
    in my library as I bought it.
  </p>
  <p>
    After Farming in Stardew we get <strong>Discounty</strong> where we
    don&#39;t manage a farm but a supermarket in a small town. Set up the shop,
    buy produce, restock the shelves, run the cash register, you name it. All in
    a cute graphic that feels a lot more fluffy than stardew valley. Creating a
    character starts off with the default haircut being the classic zoomer
    broccoli haircut. Good one. The game has a lot of charm and I will
    definitely take a look at release if it&#39;s worth buying. Wishlisted.
  </p>
  <p>
    <strong>Stellar Blade</strong> has been released on PC and also features a
    demo. The game runs well and is a lot of fun. The combat mechanics are fluid
    and fights are fun. The first boss fight in the demo felt great. Also there
    are the characters and outfits. Yeah I mean... yeah. It&#39;s really good.
    Caught. The game is amazing too. Bought.
  </p>
  <h2 id="tl-dr">TL;DR</h2>
  <p>
    A lot of great games this time around. I&#39;ll definitely take a look at
    <strong>No, I&#39;m not a Human</strong> or watch some streamers play the
    full release. BALL x Pit, Dispatch, Passant: A Chess Roguelike, The Royal
    Writ and Ascend to ZERO might surprise and are worth a look. I hope
    <strong>Discounty</strong> delivers what it set up in the demo and becomes
    able to stand next to other games of it&#39;s genre. If you crave some great
    tower defense give <strong>Gnomes</strong> a try.
    <strong>Stellar Blade</strong> is amazing and unlike other gooner games this
    one has the gameplay to back it up.
  </p>
  <p>Cheers your local thinker.</p>
</div>
