<app-topbar (menuButtonClicked)="this.showMenu = !this.showMenu"></app-topbar>

<mat-drawer-container class="menu-container">
  <mat-drawer mode="side" [opened]="this.showMenu" class="menu-content">
    <h3>2024</h3>
    <mat-nav-list class="nav-list-container">
      <a
        mat-list-item
        (click)="this.showEntry('/2024_june')"
        class="navigation-item"
      >
        June - Next Fest
      </a>
      <a
        mat-list-item
        (click)="this.showEntry('/2024_july')"
        class="navigation-item"
      >
        July - Tacticon
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div (click)="this.showMenu = false" class="hide-menu-container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
