<div class="review-container">
  <h1 id="title">October - Next Fest</h1>
  <p>
    Hello and welcome to the October Next Fest. As usual we are taking a look at
    a random assortment of demos. As you know, the word demo is a shorthand for
    demonstration. There are also political demonstrations, which in Germany we
    also simply call demonstrations or demos for short. So what I&#39;m trying
    to say is this: I want to demo this shit. Holy shit most of these are bad
    this time.
  </p>
  <p>Tl;dr at the bottom as always.</p>
  <h2 id="demos">Demos</h2>
  <p>
    In <strong>Worshippers of Cthulhu</strong> you create a cult and manage it
    in an Anno-like style. On paper it sounds good, but the performance is so
    horrible that I stopped playing after a few minutes. Tutorial tells you to
    click and dismantle a shipwreck. You click the shipwreck and nothing
    happens. There is no menu or anything appearing. Solving this took the
    entire five minutes. Even now, I still have no clue why or how it suddenly
    worked. Game is rough and unfinished even for a demo. If you put out such a
    bad product as a demo I unfortunately don&#39;t have the faith for the real
    release to be any better. Game has been removed from my wishlist, too. Major
    L.
  </p>
  <p>
    Next &quot;Game&quot; is <strong>Fantasy Map Simulator</strong>. This
    Software creates a random map with random countries that go to war with each
    other. You can influence them a bit, but this is mostly only a &quot;Watch
    the simulation do it&#39;s thing&quot; game. Similar to a screen saver. Meh.
  </p>
  <p>
    <strong>Frontline Crisis: Demo</strong> is a very simple tower defense game
    where you control a Mech, build buildings that collect resources, and shoot
    the enemies, who are big bugs. Not complicated but fun. Neat little game,
    but very basic.
  </p>
  <p>
    <strong>Royal Revolt Warriors</strong>. Vampire Survivors Clone. Looks like
    a mobile game. That&#39;s it. That&#39;s all you managed to develop. Not
    even worth writing more about.
  </p>
  <p>
    Behave yourself because, <strong>The King is Watching</strong>. This is an
    interesting game. You build tiles on the left of the game, like fields and
    mines to gather resources and barracks to train units. On the right your
    units fight against the approaching enemies in an auto battler style. The
    game is really slow and a boring. Neat idea, but needs to be faster to be
    engaging.
  </p>
  <p>
    Next up is <strong>Jotunnslayer: Hordes of Hel</strong>. Surprise guys, this
    is another Vampire Survivors Clone. This one&#39;s special selling point is
    that it looks neat. The graphics make it look like diablo 4, so quite nice.
    Yeah that&#39;s about it though.
  </p>
  <p>
    Lets move on to <strong>Seed of heroes</strong>. What could it be? Say it
    with me: Vampire. Survivors. Clone. But you recruit other units who do the
    attacking automatically for you. Yay I guess?
  </p>
  <p>
    <strong>D.O.T Defence</strong>. You might not believe me but this is indeed
    not a Vampire Survivors Clone. Omg an actual game, these do exist. Game
    itself is like an auto battler. You own islands from which troops spawn. You
    can tell the troops to move in a general direction and attack the enemy
    islands. To support your troops you can also build towers and other stuff.
    If you capture all islands you win. Unfortunately the gameplay not a lot of
    fun for me.
  </p>
  <p>
    <strong>Elite Exorcist Miko</strong>. What is this? If you guessed
    &quot;Hololive bullet hell shoot&#39;em up&quot; you were right. Lol. The
    gameplay includes classic twin stick shooter mechanics and in addition
    switching between three modes with different attacks. Everything is a bit
    complicated and feels clunky. Maybe I&#39;m simply not zoomer enough for all
    the bullets and hotswapping, abilities, timeslowdonws, etc. happening at the
    same time.
  </p>
  <p>
    <strong>Star Vaders</strong>. Yes, yes, yes! This is it. The devs are not
    only cooking they are deep frying. In this little gem of a game you control
    a little Mech through a deck of cards that you are building. Think slay the
    spire but with a chess board on which you can play movement cards and move
    your little Mech. Deckbuilding, Card upgrading, Artifact collecting. It has
    it all. The music is a bop. The art style is cute. The mechanic of playing
    cards and generating heat which limits the amount of cards you can play is
    well designed. This is a hit. Already whishlisted and looking forward to it!
    Check it out.
  </p>
  <p>
    <strong>Munch</strong> ado about nothing. You play as some sort of demon,
    eating stuff to evolve into a bigger demon. Kinda a Vampire Survivors like,
    but very active, has player abilities and all of that stuff. Art style is
    nice but gameplay feels a bit boring and repetitive. Music has nice riffs
    tho.
  </p>
  <p>
    Next we are fighting hordes of enemies in <strong>Voin</strong>. You got a
    sword, you are slashing up minions. The style is a bit weird to me. I feel a
    bit lost in this game. Where to go. What to do. What&#39;s the point? Not
    really understanding this one. Also the insane headbobbing is giving me
    motion sickness.
  </p>
  <p>
    Do you know Temtem? Well there is now also <strong>Temtem: Swarm</strong>.
    What is Temtem? It&#39;s Pokemon, but every battle is a team battle. That
    means a 2v2. That&#39;s why it&#39;s called temtem. Smart right? Oh, you
    want to know about Temtem: Swarm? It&#39;s another Vampire Survivor clone,
    but you control a temtem and can not only find abilities but also evolve if
    you level enough. Drink one for every temtem I said.
  </p>
  <p>
    <strong>First Break</strong> of Vampire survivors. Good spooky atmo. This is
    looks like one of those old 2D pixel rpg games at first but all it really is
    about, is solving rooms. Each room you need to get a key while things charge
    at you. You can shoot to budge them away. A little bit. You know the devs
    are funny when the death counter has four digits. This isn&#39;t fun for me.
    An Action-Puzzle horror.
  </p>
  <p>
    <strong>Tinkerlands</strong> looks like a top down terraria like. Reminds me
    of Core Keeper and Necesse. Both great games I already own but haven&#39;t
    finished. So I won&#39;t look at this one further until I finished the
    others. Neat game though. Made by only 4 devs too. Good job!
  </p>
  <p>
    Did you ever wonder how much further AI will develop? Well there is an
    <strong>AI LIMIT</strong>. A dark souls clone in anime style. Game loads for
    like 10minutes. Holy lack of optimization. Gameplay feels neat, has all the
    common dark souls things you would expect. From Bonfire to Firekeeper and
    classic Miyazaki tomfoolery by placing enemies behind corners. Not an awful
    clone.
  </p>
  <p>
    <strong>Stirnova</strong> launches a launcher where I have to login. Nope.
    Quick look at twitch to see what this is about: Tactical Anime shooter,
    Valorant style. But here&#39;s the catch: you can turn from 3d into 2d. LoL.
    Lmao even. You should check the trailer to understand what I mean. What a
    trip. Interesting.
  </p>
  <p>
    Fuck it we ball. Literally. In <strong>Ballionaire</strong> you create a
    pachinko with special bouncers the ball can hit and earn money to reach an
    increasing higher score. There seem to be a bunch of interesting
    combinations and effects. For me it&#39;s a bit too random to be fun. Not a
    bad game though.
  </p>
  <p>
    <strong>Warside</strong> is an Adventure wars clone. Clean and simple turn
    based strategy. Me like, but there is already Wargroove so I would play that
    instead.
  </p>
  <p>
    <strong>Journey to Incrementalia</strong> is a cookie clicker type game. You
    are an skeleton overlord destroying walls. Yeah literally. There is 100
    walls you need to break through by gathering mana and raising skeletons.
    Really slow and boring.
  </p>
  <p>
    Did you ever hear about slay the spire? <strong>Commander Quest</strong> is
    slay the spire but instead of playing cards to attack enemies you play cards
    to summon units that auto battle. This game is amazing. The classic
    Artifacts, Cards, Shops, Map, Bonfire, Upgrades, etc are all in this. Really
    fun game. Wishlisted.
  </p>
  <p>
    I like ants, so lets check out <strong>Empire of the Ants</strong>. You
    control a single ant and can order six groups of other ants around. Game is
    pretty basic, each ant hill you own has some basic upgrades and can create a
    single group of other ants. There is no cool base building or other stuff.
    Pretty meh. But hey ants.
  </p>
  <p>
    <strong>Everwarder</strong> is a tower defense game. You place crystals to
    mine darkness for resources which in return spawns enemies you have to
    destroy. Cute pixel graphics and neat clear gameplay. A good little tower
    defense to try out. Wishlisted.
  </p>
  <p>
    <strong>The Spirit of the Samurai</strong> is an ori like. You play as a
    samurai. It has clean graphics and decent combat. But feels a bit off to me.
    For example jumping has an impact as if you were Godzilla himself. The game
    asks you to play with controller but the menu doesn&#39;t work with
    controller. Sound balancing is way off. Needs more work. Game itself could
    be ok.
  </p>
  <h2 id="tl-dr">TL;DR</h2>
  <p>
    What a huge pile of garbage. The two good ones are
    <strong>Star Vaders</strong> and Commander Quest. Amazing, wishlisted and
    looking forward to them. Maybe Everwarder is also worth a look if you want
    to play a little tower defense.
  </p>
  <p>Cheers your local Mech Pilot.</p>
</div>
