<app-flower [dialogLines]="dialogLines" />

<div class="review-container">
  <h1 id="next-fest-october">October - Next Fest</h1>
  <div class="image-container">
    <div>
      <div class="center-image">
        <img src="https://i.imgur.com/pBPBzZG.png" class="responsive-img" />
      </div>
    </div>
    <div>
      <p class="quote-text">
        All right. All right, gals, this is it, this is the big one! Come read
        these <i>sweet reviews</i> with us! Sure beats whatever it is
        <i>you</i> would do otherwise.
      </p>
      <div class="center" style="width: 100%">
        <iframe
          width="70%"
          height="248"
          frameborder="0"
          src="https://www.youtube.com/embed/dmYLiPtfPfk"
        >
        </iframe>
      </div>
    </div>
  </div>
  <div class="center">
    <p style="color: gray; font-size: 12px">
      Hades II is a trademark of Supergiant Games, LLC. The soundtrack and
      Scylla are © 2024 Supergiant Games, LLC. All rights reserved.
    </p>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non venenatis
    neque. Nulla congue elementum dui sit amet pharetra. Nunc vitae nibh semper,
    consectetur est quis, porta arcu. Sed auctor nisi at risus facilisis
    accumsan. Maecenas augue dui, ornare ac elit et, condimentum tristique nisl.
    Ut blandit augue at diam blandit ornare. Phasellus dictum urna justo, eu
    sagittis nibh suscipit sit amet. Suspendisse accumsan, enim vitae tincidunt
    tristique, eros nunc vehicula nisi, et condimentum dolor mi eu magna. Fusce
    at pulvinar nisi, vel suscipit nunc. Aenean imperdiet quam malesuada,
    dignissim ex ut, semper nibh.
  </p>
</div>
